.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap-3 {
    gap: 3rem;
}

.font-bold {
    font-weight: bold;
}

.list-grid {
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1rem;
}

ul {
    padding: 0;
}

p {
    text-align: start;
}

h1 {
    margin: 0;
}

li {
    list-style: none;
    text-align: start;
}
